@import "page-layout.css";
@import "card-layout.css";
@import "card.css";
@import "design-system.css";
@import "../blog-post/blog-post.css";
@import "../design-system/design-system-page.css";

/* Tablet - Begin */
@media screen and (min-width: 540px) and (max-width: 900px) {
    .social-sharing {
        width: 40%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1365px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(15%, 45%));
        grid-template-rows: repeat(3, minmax(300px, auto));
        grid-template-areas:
                "dinner cultivation"
                "grapes red-wine"
                "sauvignon shiraz";
        justify-content: space-evenly;
        grid-row-gap: 25px;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        padding: 2rem 0 2rem 5rem;
    }

    .navbar {
        padding: 2rem 5rem 2rem 0;
    }

    .social-sharing {
        width: 30%;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .home {
        padding-right: 2rem;
    }

    .avatar {
        height: 150px;
        width: 150px;
    }
}
/* Tablet - End */

/* Desktop - Begin */
@media screen and (min-width: 1366px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(20%, 30%));
        grid-template-rows: repeat(3, minmax(500px, auto));
        grid-template-areas:
                "dinner cultivation"
                "grapes red-wine"
                "sauvignon shiraz";
        justify-content: space-evenly;
        grid-row-gap: 50px;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        padding: 2rem 0 2rem 5rem;
    }

    .navbar {
        padding: 2rem 5rem 2rem 0;
    }

    .social-sharing {
        width: 33%;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .home {
        padding-right: 2rem;
    }

    .about {
        padding-right: 5rem;
    }

    .avatar {
        height: 200px;
        width: 200px;
    }

    .red-wine-lyrics, .summary {
        padding: 2rem 10rem 0 10rem;
    }

    .social-sharing {
        padding-left: 10rem;
    }
}
/* Desktop - End */
