@import "layout.css";
@import "card.css";
@import "design-system.css";

#dinner {
    grid-area: dinner;
}

#cultivation {
    grid-area: cultivation;
}

#grapes {
    grid-area: grapes;
}

#red-wine {
    grid-area: red-wine;
}

#sauvignon {
    grid-area: sauvignon;
}

#shiraz {
    grid-area: shiraz;
}

/* Mobile - Default */
.card-grid {
    display: grid;
    grid-template-columns: minmax(200px, 400px);
    grid-template-rows: repeat(6, minmax(200px, auto));
    grid-template-areas:
                "dinner"
                "cultivation"
                "grapes"
                "red-wine"
                "sauvignon"
                "shiraz";
    justify-content: space-evenly;
    grid-row-gap: 20px;
}

/* Tablet */
@media screen and (min-width: 901px) and (max-width: 1365px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(15%, 45%));
        grid-template-rows: repeat(3, minmax(300px, auto));
        grid-template-areas:
                "dinner cultivation"
                "grapes red-wine"
                "sauvignon shiraz";
        justify-content: space-evenly;
        grid-row-gap: 25px;
    }
}

/* Desktop */
@media screen and (min-width: 1366px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(20%, 30%));
        grid-template-rows: repeat(3, minmax(500px, auto));
        grid-template-areas:
                "dinner cultivation"
                "grapes red-wine"
                "sauvignon shiraz";
        justify-content: space-evenly;
        grid-row-gap: 50px;
    }
}
