@import "layout.css";

#dinner {
    grid-area: dinner;
}

#cultivation {
    grid-area: cultivation;
}

#grapes {
    grid-area: grapes;
}

#red-wine {
    grid-area: red-wine;
}

#sauvignon {
    grid-area: sauvignon;
}

#shiraz {
    grid-area: shiraz;
}

.card-grid {
    display: grid;
    grid-template-columns: minmax(200px, 400px);
    grid-template-rows: repeat(6, minmax(200px, auto));
    grid-template-areas:
                "dinner"
                "cultivation"
                "grapes"
                "red-wine"
                "sauvignon"
                "shiraz";
    justify-content: space-evenly;
    grid-row-gap: 20px;
}

/* Card - Begin */
.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
    background-image: url("../img/shiraz-cultivation-mobile.png");
    background-size: cover;
    flex: 1 1 50%;
}

.card-img img {

}

.card-body {
    flex: 1 1 50%;
    padding: 10px;
    text-align: center;
}

.card-title {
    padding-bottom: 10%;
    border-bottom: 1px solid grey;
}

.card-text {
    font-weight: 400;
    padding: 10% 0 10% 0;
    text-align: justify;
}
/* Card - End  */


/* Tablet */
@media screen and (min-width: 901px) and (max-width: 1365px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(15%, 45%));
        grid-template-rows: repeat(3, minmax(300px, auto));
        grid-template-areas:
                "dinner cultivation"
                "grapes red-wine"
                "sauvignon shiraz";
        justify-content: space-evenly;
        grid-row-gap: 25px;
    }
}

/* Desktop */
@media screen and (min-width: 1366px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(20%, 30%));
        grid-template-rows: repeat(3, minmax(500px, auto));
        grid-template-areas:
                "dinner cultivation"
                "grapes red-wine"
                "sauvignon shiraz";
        justify-content: space-evenly;
        grid-row-gap: 50px;
    }
}
