/* Author - Begin */
.author {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.author-description {
    padding-left: 0.5rem;
}

.blog-post {
    padding: 1rem;
}
/* Author - End */

/* Social Sharing - Begin */
.social-sharing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 1rem;
}

.facebook {
    background-image: url("../img/facebook.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.twitter {
    background-image: url("../img/twitter.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.linkedin {
    background-image: url("../img/linkedin.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
/* Social Sharing - End */
